@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media print {
  /* hide everything except results */
  header, aside, footer, .no-print {
    display: none !important;
  }
  main {
    padding: 0 !important;
    max-width: 100% !important;
  }
  body {
    background: white !important;
  }
  /* make sure results print clearly */
  .print-area {
    display: block !important;
  }
}